<div class="bg-contact2" >
  <div class="container-contact2">
    <div class="wrap-contact2">
      <form class="contact2-form validate-form" [formGroup]="loginForm" (ngSubmit)="loginUtente()">
        <div *ngIf="loginError">
          <p id="loginError">{{ loginError }}</p>
        </div>
                <span class="contact2-form-title">
                    Login
                </span>

        <div class="wrap-input2 validate-input" data-validate="Name is required">
          <input class="input2" type="email" formControlName="email" placeholder="mail@mail.com">
        </div>

        <div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <input class="input2" type="password" formControlName="password" placeholder="inserisci password">
        </div>

        <div class="container-contact2-form-btn">
          <div class="wrap-contact2-form-btn">
            <div class="contact2-form-bgbtn"></div>
            <button class="contact2-form-btn" type="submit">
              Accedi
            </button>
          </div>
        </div>
        <div class="container-contact2-form-btn">
          <div class="wrap-contact2-form-btn">
            <div class="contact2-form-bgbtn"></div>
            <button class="contact2-form-btn" [routerLink]="'/auth/register'">
              Non sei registrato? Clicca qui per registrarti
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
