<ngb-carousel  class="position">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../../assets/games/cyberpunk.jpg" alt="Random first slide" class="grandezzaimmagine">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../../assets/games/assassin.jpg" alt="Random second slide" class="grandezzaimmagine">
    </div>

  </ng-template>
</ngb-carousel>

<div>
<button routerLink="/personal" class="goToShopLink">Scegli la tua versione</button>
</div>

