.grandezzaimmagine{
  width:800px;
  height:500px;
  border: none;
  border-radius: 15px;
}
.position{
  top:50px;
  left:230px;
  right:230px;
  width: 800px;
}

button.testo{

  text-align: center ;
  position: relative;
  top:460px;
  left:640px;
  width:200px;
  height:35px;
  background-color:rgb(194, 128, 255);
  font-weight: bold;
  border-radius: 5px;
  font-size: 15px;
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  padding: 7px;

}
