<div *ngIf="currentRoute!='/auth/login' && currentRoute!='/auth/register'" class="wrapper menu">

  <ng-container>
    <div [routerLink]="'/home'" class="one" *ngIf="currentRoute!='/home'">
      <span class="iconahome"></span>
      Home
    </div>
    <div class="two titolo" style = "font-size: 40px">RossoCommerce</div>
    <div [routerLink]="'/cart'" class="seven" *ngIf="currentRoute!='/cart'">
      <span class="icart"></span>
      Carrello
    </div>
    <div class="eight">Esci</div>
  </ng-container>

</div>
